# Ignore build outputs
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Logs
*.log
*.tlog

# IDE-specific files
.vscode/
.idea/
*.vs/

# Avalonia-specific files
*.designer.cs
*.g.cs
*.g.i.cs

# Android-specific files
.gradle/
build/
local.properties
*.apk
*.ap_
*.dex
*.class
*.keystore
*.so
*.cxx/
*.ndk/
*.aab

# NuGet packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# DotNet-specific files
*.dll
*.exe
*.pdb
*.cache
*.config
*.props
*.targets

# Temporary files
*.tmp
*.temp
*.pidb
*.svclog
*.sln.ide
*.sln.cache

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Rider-specific files
.idea/
*.iml
out/

# Visual Studio Code-specific files
.vscode/

# JetBrains Rider-specific files
.idea/
